{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<center>
			<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">A propos de l'auteur :</h5>
		    <h4 class="card-title">Mathieu Losserand</h4>
		    <p class="card-text">Pour tout renseignements veuillez me contacter par mail:</p>
		    <a href="mailto:mathieu.losserand@gamil.com" class="card-link">Email</a>
		    <br/>
		    <a href="https://mathloss.github.io/site_perso_3/" target="_blank" class="card-link">Site personnel</a>
		  </div>
		</div>
		<br/><br/><br/><br/><br/><br/><br/><br/>
		<p class="fw-lighter">Copyright &copy Mathieu Losserand 2021 .</p>
	</center>
	</div>

{% endblock %}